<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sentinel.dao.dao.UndoLogDtoMapper">
  <resultMap id="BaseResultMap" type="com.sentinel.dao.dto.UndoLogDto">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="branch_id" jdbcType="BIGINT" property="branchId" />
    <result column="xid" jdbcType="VARCHAR" property="xid" />
    <result column="log_status" jdbcType="INTEGER" property="logStatus" />
    <result column="log_created" jdbcType="TIMESTAMP" property="logCreated" />
    <result column="log_modified" jdbcType="TIMESTAMP" property="logModified" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="rollback_info" jdbcType="LONGVARBINARY" property="rollbackInfo" />
  </resultMap>
</mapper>